{% extends 'doctor/base.html' %}
{% load static %}
{% block overview %}


<ol class="breadcrumb" style = "width:30%;">
        <li class="breadcrumb-item">
          <a href="#">Dashboard</a>
        </li>
        <li class="breadcrumb-item active">Add Record</li>
      </ol>

{% if no_of_meds == 0 %}
 <div class="card mx-auto w-75">
      <div class="card-header">Medical Record</div>
      <div class="card-body">
        <form action = '/doctor/adding/{{ patient.id }}/' method= "POST">
          {% csrf_token %}
          <div class="form-group">
            <label for="exampleInputEmail1">Symptoms</label>
            <input class="form-control" name="symptoms" id="symptoms" type="text" aria-describedby="emailHelp" placeholder="Enter symptoms">
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">Disease</label>
            <input class="form-control" name="disease" id="disease" type="text" placeholder="Enter disease">
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">Number of Medicines</label>
            <input class="form-control" name="no_med" id="medicine" type="number" placeholder="Enter Number of Medicines">
          </div>
          <div class="col-md-12 text-center">
          	<button type="submit" class="btn btn-primary">NEXT</button>
      	  </div>
        </form>
        
      </div>
    </div>
{% else %}
      <form action = '/doctor/adding/{{ patient.id }}/' method= "POST">
        {% csrf_token %}

        {% with ''|center:no_of_meds as range %}
        {% for _ in range %}
        <div class="card mx-auto w-75">
      <div class="card-header">Medical {{ forloop.counter }}</div>
      <div class="card-body">
   
          <div class="form-group">
            <label for="exampleInputEmail1">Medicine Name</label>
            <input class="form-control" name="name{{forloop.counter}}" id="symptoms" type="text" aria-describedby="emailHelp" placeholder="Enter name">
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">End Date</label>
            <input class="form-control" name="end{{forloop.counter}}" id="disease" type="date" placeholder="Enter end date">
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">Number of times to take</label>
            <input class="form-control" name="times{{forloop.counter}}" id="medicine" type="number" placeholder="Enter Number of times">
          </div>
        </div>
        </div> 
        <br>   
        {% endfor %}
        {% endwith %}
        <div class="col-md-12 text-center">
          <button type="submit" class="btn btn-primary">ADD</button>
        </div>
        </form>
      
{% endif %}    


{% endblock %}