{% extends 'doctor/base.html' %}
{% load static %}
{% block overview %}


<ol class="breadcrumb" style = "width:30%;">
        <li class="breadcrumb-item">
          <a href="#">Dashboard</a>
        </li>
        <li class="breadcrumb-item active">Add New Patient</li>
</ol>

 <div class="card mx-auto w-75">
      <div class="card-body">
        <form action = '/doctor/adding_patient/' method= "POST">
          {% csrf_token %}
          <div class="form-group">
            <label for="exampleInputEmail1">Patient Username</label>
            <input class="form-control" name="username" id="symptoms" type="text" aria-describedby="emailHelp" placeholder="Username">
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">Patient Mobile Number</label>
            <input class="form-control" name="number" id="disease" type="text" placeholder="Number">
          </div>
          <div class="col-md-12 text-center">
          	<button type="submit" class="btn btn-primary">SUBMIT</button>
      	  </div>
        </form>
        
      </div>
    </div>

{% endblock %}