{% extends 'doctor/base.html' %}
{% load static %}
{% block overview %}


<ol class="breadcrumb" style = "width:30%;">
        <li class="breadcrumb-item" >
          <a href="#">Dashboard</a>
        </li>
        <li class="breadcrumb-item active">Patient List</li>
      </ol>

{% for pt in patient_list%}
  <div class="alert alert-primary" role="alert" style= "width:20%;">
    <a href = "/doctor/details/{{ pt.id }} "  style = "margin:5px;">{{ pt.name }} </a>
    <a href = "/doctor/dosage_monitor/{{ pt.id }} " style = "margin:2px;"> <i class="fa fa-fw fa-table"></i> </a>
  </div>
{% endfor %}

{% endblock %}