{% extends 'doctor/base.html' %}
{% load static %}
{% block overview %}


<ol class="breadcrumb" style = "width:30%;">
        <li class="breadcrumb-item">
          <a href="#">Dashboard</a>
        </li>
        <li class="breadcrumb-item active">Dosage Monitor</li>
      </ol>

      

<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript">

dates = {{ dates | safe }};
val = {{ val | safe }};
meds = {{ meds | safe }};  

google.charts.load("current", {packages:["calendar"]});
google.charts.setOnLoadCallback(drawChart);

function drawChart() {
    for(i=0; i< meds.length; i++) {
      
      var x = val[meds[i]].length;
      var s = meds[i]
    
     
        var dataTable = new google.visualization.DataTable();
         dataTable.addColumn({ type: 'date', id: 'Date' });
         dataTable.addColumn({ type: 'number', id: 'Won/Loss' });
      
        for (var j = 0; j < x; j++) {
            dataTable.addRow([ new Date(dates[s][j][0], dates[s][j][1]-1, dates[s][j][2]), val[s][j] ]);
          }
         var chart = new google.visualization.Calendar(document.getElementById(s));

         var options = {
           title: "Pills consumed",
           height: 350,
         };

         chart.draw(dataTable, options);
     }
}     
    </script>
  
    {% for i in meds2 %}
    <p> Medicine Name : {{ i }} </p>
      <div id="{{ i }}" style="width: 1000px; height: 350px;"></div>
    {% endfor %}  
    

{% endblock %}


    