{% extends 'doctor/base.html' %}
{% load static %}
{% block overview %}


<ol class="breadcrumb" style = "width:30%;">
        <li class="breadcrumb-item">
          <a href="#">Dashboard</a>
        </li>
        <li class="breadcrumb-item active">Record</li>
      </ol>

{% for record in record_list %}
{% for m in meds %}
{% if forloop.counter == forloop.parentloop.counter %}
  <div class="card">
    <h4 class="card-header"> {{ record.doctor.name }} </h4>
    <div class="card-body">
     <h5 class="card-title">Doctor Qualifications: {{ record.doctor.education }} , {{ record.doctor.speciality }}</h5>
      <p class="card-text">Date of Visit : {{ record.date_of_visit }}</p>
      <p class="card-text">Symptoms : {{ record.symptoms }}</p>
      <p class="card-text">Disease : {{ record.disease }}</p>
      <p class="card-text">Medicines :
       {% for i in m %} {{ i }} , {% endfor %} 
      </p> 
    </div>
  </div>
  <br>
  {% endif %}
  {% endfor %}
{%endfor %}

{% endblock %}