{% extends 'patient/base2.html' %}
{% load static %}
{% block overview %}
<p> patient </p>

<ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="#">Dashboard</a>
        </li>
        <li class="breadcrumb-item active">My Dashboard</li>
      </ol>

{% if f >= 1 %}
  <div class="alert alert-info alert-dismissable">
    <a href="#" class="close" data-dismiss="alert" aria-label="close">×</a>
  <strong>NOTICE!</strong><br>
  You need to have the following medicines:<br> 
  {% for meds in meds_to_eat %}
    {{ meds }} <br>
  {% endfor %}  
  </div>
{% endif %}
<div class="card">
  <h4 class="card-header">Patient Overview</h4>
  <div class="card-body">
    <h4 class="card-title">{{ patient.name }}</h4>
    <p class="card-text">Mobile Number : {{ patient.mobile_no }} </p>
    <p class="card-text">User Name : {{ patient.username }} </p>
    <p class="card-text">Date of Birth : {{ patient.dob }} </p>
    <p class="card-text">Email Id : {{ patient.email }} </p>
    <p class="card-text">Address : {{ patient.address }} </p>
  
  </div>
</div>
{% endblock %}