{% extends 'patient/base2.html' %}
{% load static %}
{% block overview %}


<ol class="breadcrumb" style = "width:30%;">
        <li class="breadcrumb-item" >
          <a href="#">Dashboard</a>
        </li>
        <li class="breadcrumb-item active">Doctor List</li>
      </ol>

{% for doc in doc_list%}
  <div class="alert alert-primary" role="alert" style= "width:20%;">
    <a href = "/patient/apt/{{ doc.id }} "  style = "margin:5px;">{{ doc.name }} </a>
    {{ doc.speciality }}
  </div>
{% endfor %}

{% endblock %}