{% load static %}
<!DOCTYPE html>
<html>
<head>
<style>
body, html {
  height: 100%;
  margin: 0;
  font: 400 15px/1.8 "Lato", sans-serif;
  color: #777;
}

.bgimg-1, .bgimg-2, .bgimg-3 {
  position: relative;
  opacity: 0.65;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}
.bgimg-1 {
  background-image: url("{% static 'doctor/logo.png' %}");
  height: 100%;
}

.caption {
  position: absolute;
  left: 0;
  top: 18%;
  width: 100%;
  text-align: center;
  color: #000;
}

.caption span.border {
  background-color: #ffffff;
  color: #000;
  padding: 18px;
  font-size: 25px;
  letter-spacing: 10px;
}

h3 {
  letter-spacing: 5px;
  text-transform: uppercase;
  font: 20px "Lato", sans-serif;
  color: #111;
}
</style>
</head>
<body>

<div class="bgimg-1">
  <div class="caption"> 
    <span class="border"><a href="/patient/login">PATIENT LOGIN</a>
    <br> 
    <a href="/patient/register">PATIENT REGISTER</a>
    </span>
  </div>
</div>


</body>
</html>