{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>LOGIN</title>
  <!-- Bootstrap core CSS-->
  <link href="{% static 'doctor/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <!-- Custom fonts for this template-->
  <link href="{% static 'doctor/vendor/font-awesome/css/font-awesome.min.css' %" rel="stylesheet" type="text/css">
  <!-- Custom styles for this template-->
  <link href="{% static 'doctor/css/sb-admin.css' %}" rel="stylesheet">
</head>

<body class="bg-dark">
  <div class="container">
    <div class="card card-login mx-auto mt-5">
      <div class="card-header">Login</div>
      <div class="card-body">
        <form action = "/patient/logging/" method = "POST">
          {% csrf_token %}
          <div class="form-group">
            <label for="exampleInputEmail1">User Name</label>
            <input class="form-control" name="username" id="exampleInputEmail1" type="text" aria-describedby="emailHelp" placeholder="Enter Username">
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">Password</label>
            <input class="form-control" name="passwd" id="exampleInputPassword1" type="password" placeholder="Password">
          </div>
         <input type="submit" value="Login">
        </form>
        <div class="text-center">
        </div>
      </div>
    </div>
  </div>
  <!-- Bootstrap core JavaScript-->
  <script src="{% static 'doctor/vendor/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'doctor/vendor/popper/popper.min.js' %}"></script>
  <script src="{% static 'doctor/vendor/bootstrap/js/bootstrap.min.js' %}"></script>
  <!-- Core plugin JavaScript-->
  <script src="{% static 'doctor/vendor/jquery-easing/jquery.easing.min.js' %}"></script>
</body>

</html>
