{% extends 'patient/base2.html' %}
{% load static %}
{% block overview %}

<p> patient </p>
<ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="#">Dashboard</a>
        </li>
        <li class="breadcrumb-item active">Medicine Reminder</li>
      </ol>


<form  action="/patient/adding_feedback/" method = "POST" >
  {% csrf_token %}
<div class="card mb-3">
  <div class="card-header">
    <i class="fa fa-table"></i> Data Table Example</div>
  <div class="card-body">
                
  <div class="table-responsive">
    <table class="table table-striped" id="dataTable" width="100%" cellspacing="0">
      <thead>
        <tr>   
          <th>SL No</th>
          <th>Medicine Name</th>
          <th>Morning</th>
          <th>Afternoon</th>
          <th>Evening</th>
        </tr>
      </thead>
     
     <div class="form-check">
     <tbody>

      {% for key,val in med_list.items %}
        <tr>
          <td>{{ forloop.counter }}</td>
          <td>{{ key.name }}</td>
          {% with ''|center:val as range %}
            {% for _ in range %}
              <label class="form-check-label">
              <td><input class="form-check-input" type="checkbox" name="med_{{ key.id }}" value="{{ key.id }}"></td>
            {% endfor %}
          {% endwith %}

          </label>
        </tr> 
        
        {% endfor %}
     </tbody>
     </div>
     </table>
     </div>
      <div class="col-md-12 text-center">
      <button type="submit" class="btn btn-info btn-lg" name="delete" value=>
      SUBMIT
      </button>
</div>
</form>
        

{% endblock %}