{% extends 'patient/base2.html' %}
{% load static %}
{% block overview %}

<p> patient </p>

<ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="#">Dashboard</a>
        </li>
        <li class="breadcrumb-item active">Medicine Details</li>
      </ol>

{% if f == 0 %}
  <form action = '/patient/medicine_details/' method= "POST">
    {% csrf_token %}
    <div class="form-group">
      <label for="exampleInputEmail1">Medicine Name</label>
      <input class="form-control" name="med_name" id="symptoms" type="text" aria-describedby="emailHelp" placeholder="Enter Medicine">
    </div>
    <div class="col-md-12 text-center">
      <button type="submit" class="btn btn-primary">SUBMIT</button>
    </div>
  </form>

{% elif f == 2 %}
  {% for key, val in med_detls.items %}
    <div class="card">
      <h4 class="card-header">{{ key }}</h4>
      <div class="card-body">
        {% for i in val %}
        {% if forloop.counter == 1 %}
        <p class="card-text">Price = Rs{{ i }}</p>
        {% elif  forloop.counter == 2 %} 
        <p class="card-text">Size = {{ i }}</p>
        {% endif %}
        {% endfor %}
      </div>
    </div>
    <br>
  {%endfor %}

{% else %}
  <p> ERROR {{f}}</p>
{% endif %}  
{% endblock %}



