{% load static %}
<p> patient </p>
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>LOGIN</title>
  <!-- Bootstrap core CSS-->
  <link href="{% static 'doctor/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <!-- Custom fonts for this template-->
  <link href="{% static 'doctor/vendor/font-awesome/css/font-awesome.min.css' %" rel="stylesheet" type="text/css">
  <!-- Custom styles for this template-->
  <link href="{% static 'doctor/css/sb-admin.css' %}" rel="stylesheet">
</head>

<body class="bg-dark">
  <div class="container">
    <div class="card card-registermx-auto mt-5">
      <div class="card-header">Register Yourself</div>
      <div class="card-body">
        <form action="/patient/registering/" method="POST">
          {% csrf_token %}
          <div class="form-group">
            
            
                <label for="exampleInputName">Name</label>
                <input class="form-control" name = "name" id="exampleInputName" type="text" aria-describedby="nameHelp" placeholder="Enter name">
              </div>
              <div class="form-group">
                <label for="exampleInputLastName">User Name</label>
                <input class="form-control" name="username" id="exampleInputLastName" type="text" aria-describedby="nameHelp" placeholder="User name">
              </div>
              <div class="form-group">
                <label for="exampleInputLastName">Mobile No.</label>
                <input class="form-control" name="mobileno" id="exampleInputLastName" type="text" aria-describedby="nameHelp" placeholder="mobile no">
              </div>
              <div class="form-group">
                <label for="exampleInputLastName">Email address</label>
                <input class="form-control" name="email" id="exampleInputLastName" type="email" aria-describedby="nameHelp" placeholder="Enter email">
              </div>
            
  
          <div class="form-group">
            <label for="exampleInputEmail1">Date of Birth</label>
            <input class="form-control" name="dob" id="exampleInputEmail1" type="date" aria-describedby="emailHelp" placeholder="Enter dob">
          </div>
          <div class="form-group">
            <label for="exampleInputEmail1">Address</label>
            <input class="form-control" name="addr" id="exampleInputEmail1" type="text" aria-describedby="emailHelp" placeholder="Enter address">
          </div>
          <div class="form-group">
            <div class="form-row">
              <div class="col-md-6">
                <label for="exampleInputPassword1">Password</label>
                <input class="form-control" name = "passwd" id="exampleInputPassword1" type="password" placeholder="Password">
              </div>
              <div class="col-md-6">
                <label for="exampleConfirmPassword">Confirm password</label>
                <input class="form-control" id="exampleConfirmPassword" type="password" placeholder="Confirm password">
              </div>
            </div>
          </div>
          <input type="submit" value="Register">
        </form>
        <div class="text-center">
          <a class="d-block small mt-3" href="/patient/log_in">Login Page</a>
        </div>
      </div>
    </div>
  </div>
<!-- Bootstrap core JavaScript-->
  <script src="{% static 'doctor/vendor/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'doctor/vendor/popper/popper.min.js' %}"></script>
  <script src="{% static 'doctor/vendor/bootstrap/js/bootstrap.min.js' %}"></script>
  <!-- Core plugin JavaScript-->
  <script src="{% static 'doctor/vendor/jquery-easing/jquery.easing.min.js' %}"></script>
</body>

</html>
